* {
    box-sizing: border-box;
}

body {
    display: flex;
    width: 700px;
    margin: 0 auto;
    flex-direction: column;
    font-family: "Open Sans", sans-serif;
    font-size: 1.25em;
    color: #ffffff;
    background-color: #555555;
}

h1 {
    font-family: Lucida Grande;
    font-size: 2em;
}

h2 {
    font-family: Lucida Grande;
    font-size: 1.5em;
}

h3 {
    font-family: Lucida Grande;
    font-size: 1.35em;
    clear: both;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: lightsteelblue;
}

.center {
    max-width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p,
ul {
    line-height: 1.5;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    min-height: 8em;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    margin-left: 1em;
    line-height: 1em;
}

.floating {
    float: left;
    margin-right: 1em;
    margin-bottom: 0.5em;
}
