p {
    font-family: "Times New Roman", Times, serif;
    line-height: 1.25em;
    font-size: 1.25em;
    color: #0d0e2e;
}

a {
    color: #283986;
    text-decoration: none;
}

a:visited {
    color: #28863c;
}

a:hover {
    font-size: 1.3em;
    text-decoration: underline;
}
