p, caption, table, ul{
    font-family: "Times New Roman", Times, serif;
    line-height: 1.25em;
    font-size: 20px;
    color: #0d0e2e;
}

a {
    color: #283986;
    text-decoration: none;
}

a:visited {
    color: #28863c;
}

a:hover {
    font-size: 26px;
    text-decoration: underline;
}

body {
    max-width: 90%;
    margin: auto;
    background: -webkit-linear-gradient(180deg, rgb(255, 196, 0), rgb(233, 208, 124));
    background: linear-gradient(180deg, rgb(255, 196, 0), rgb(233, 208, 124)); 
    background-image: url(background.jpeg);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover; 
}

blockquote {
    max-width: 55%;
    margin: auto;
    font-size: 32px;
    font-style: italic;
    background-color: rgb(235, 233, 233);
    border-left-style: solid;
    border-left-width: 3px;
    /*border-left-color: #8B4F39;*/
    padding-left: 30px;
    margin-top: 80px;
    margin-bottom: 80px;
}

q {
    font-size: 32px;
    font-style: italic;
    background-color: rgb(235, 233, 233);
    border-left-style: solid;
    border-left-width: 3px;
    /*border-left-color: #8B4F39;*/
    padding-left: 30px;
}

.fermier {
    border-left-color: rgb(57, 139, 132);
}

.villageois {
    border-left-color: rgb(57, 139, 57);
}

header h2:first-of-type {
    background-color: yellow;
}

.bien {
    text-transform: capitalize; 
    color: green;
}

.mal {
    text-transform: capitalize; 
    color: red;
}

table {
    margin: auto;
    width: 50%;
  }
  
table td, table th {
    border: 1px solid darkgrey;
    padding: 8px;
  }
  
table tr:nth-child(odd){background-color: grey;}

table tr:nth-child(even){background-color: white;}
  
table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0d0e2e;
    color: white;
  }