* {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* styling nav bar */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0 130px;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    font-size: 13px;
    text-align: center;
    padding: 14px 12px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #222;
}

li:last-child {
    float: right;
}

/* Styling first section of body */
.first-section {
    height: 387px;
}
.hero-div {
    background-color: #1e93cc;
    height: 280px;
    padding: 20px 110px;
}

.hero-div > img {
    float: left;
}
.hero-div > figure {
    float: left;
}
.hero.div > button {
    float: left;
}
