body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* styling nav bar */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0 130px;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    font-size: 13px;
    text-align: center;
    padding: 14px 12px;
    text-decoration: none;
}

li a:hover {
    background-color: #222;
}

li:last-child {
    float: right;
}

/* Styling first section of body */
.hero-div {
    background-color: #1e93cc;
    height: 235px;
    padding: 20px 110px;
}

.hero-div > img {
    float: left;
}
.hero-div > figure {
    float: left;
}
.hero.div > button {
    float: left;
}

.hero-div > figure > img {
    margin-left: 170px;
}

.hero-div > figure > figcaption {
    color: white;
    font-size: 22px;
    margin-left: 120px;
    margin-top: 16px;
}
.myButton {
    background-color: #e99002;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    border: 3px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 22px;
    padding: 16px 14px;
    text-decoration: none;
    margin-left: 175px;
    margin-top: 30px;
}
.myButton:hover {
    background-color: #835100;
}
.myButton:active {
    position: relative;
    top: 1px;
}

.slogan {
    height: 30px;
    padding-bottom: 15px;
    font-size: 24px;
    text-align: center;
}
/* Styling first section of body */

.advantages {
    background-color: #1e93cc;
    height: auto;
    padding: 20px 110px;
}
