* {
    box-sizing: border-box;
}

body {
    display: flex;
    width: 700px;
    margin: 0 auto;
    flex-direction: column;
    font-family: "Open Sans", sans-serif;
    font-size: 1.25em;
    color: #111111;
    background-color: #dddddd;
}

h1 {
    font-family: Lucida Grande;
    font-size: 2em;
}

.attribution {
    margin-top: -1em;
    text-align: center;
    font-weight: bold;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: RoyalBlue;
}

h2 {
    font-family: Lucida Grande;
    font-size: 1.5em;
}

.center {
    width: 70%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.explain {
    font-style: italic;
}

p,
ul {
    line-height: 1.5;
}
