* {
    box-sizing: border-box;
}

body {
    display: flex;
    width: 700px;
    margin: 0 auto;
    flex-direction: column;
    font-family: "Open Sans", sans-serif;
    font-size: 1.25em;
    color: #ffffff;
    background-color: #555555;
}

h1 {
    font-family: Lucida Grande;
    font-size: 2em;
}

.attribution {
    margin-top: -1em;
    text-align: center;
    font-weight: bold;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: lightsteelblue;
}

h2 {
    font-family: Lucida Grande;
    font-size: 1.5em;
}

.center {
    width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.explain {
    font-style: italic;
}

p,
ul {
    line-height: 1.5;
}

/* Styling code */
pre {
    line-height: 1.2;
    color: #ffffff;
    background-color: #444444;
    padding-top: 1em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
