* {
    box-sizing: border-box;
}

body {
    display: flex;
    width: 700px;
    margin: 0 auto;
    flex-direction: column;
    font-family: "Open Sans", sans-serif;
    font-size: 1.25em;
}

h1 {
    font-family: Lucida Grande;
    font-size: 2em;
}

h2 {
    font-family: Lucida Grande;
    font-size: 1.5em;
}

.center {
    width: 70%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}
